.container {
  width: 100%;
  position: relative;
  overflow: hidden;
  isolation: isolate;

  &-inner {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 calc(var(--container-inner-padding)/1.5);

    @include bp(laptop) {
      padding: 0 var(--container-inner-padding);
    }

    &-centered {
      > *  {
        text-align: center;
        width: fit-content;
        margin: 0 auto;
      }
    }

    &-slim {
      max-width: var(--content-width);
    }

  }

  &-wrapper {
    width: 100%;
    max-width: var(--content-width);
  }

}
