$bp-mobile: 480px;
$bp-tablet: 640px;
$bp-laptop: 769px;
$bp-desktop: 1025px;
$bp-widescreen: 1200px;
$bp-xxl : 1400px;
$bp-massive: 1800px;

$mobile-max-width: 768px;
$tablet-min-width: 440px;
$laptop-min-width: 769px;
$desktop-min-width: 1025px;
$widescreen-min-width: 1200px;
