// NEW SENSE CHECKED BREAKPOINTS ADDED
// These values work in tandem with the breakpoint mixin

$bp-massive: 1750;
$bp-xxl: 1440;
$bp-xl-max: 1279;
$bp-xl: 1280;
$bp-l-max: 1024;
$bp-l: 1025;
$bp-m-max: 768;
$bp-m: 769;
$bp-s-max: 639;
$bp-s: 640;
$bp-xs: 480;

$bp-height-min: 900;

