.visuallyhidden,
.screenreader, .screen-reader-text, .sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.063em;
  margin: -0.063em;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.063em;

  /*
   * Extends the .visuallyhidden & .screenreader classes to allow the element to be focusable
   * when navigated to via the keyboard: h5bp.com/p
   */
  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    color: $white;
    text-decoration: none;
    padding: 10px;
    outline: 2px dotted rgba(255,255,255, 0.5);
  }

  :focus {
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: $white;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    top: 5px;
    width: auto;
    z-index: 100000; /* Makes sure it appears above WP toolbar. */
  }
}

.skip-link.screen-reader-text {
  border: 0;
  clip: rect(1px,1px,1px,1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.skip-link.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}


.centered {
  margin: 0 auto;
}

// font sizes applied to the head of the document at various screen size to enable syncing of javascript UI behaviour and css breakpoints
// See the currScreenSize function to ascertain how these are used
// There is an example in resizeActions.js within the js/utility-scripts directory

// DO NOT REMOVE BELOW THS LINE

// small screen
   head {
     font-size: 10px;
     display: none;
   }

@include breakpoint($bp-m) {
//midi screen
  head {
    font-size: 20px;
    display: none;
  }
}

@include breakpoint($bp-l) {
// large
  head {
    font-size: 30px;
    display: none;
  }
}

@include breakpoint($bp-xl) {
  // xtra-large
  head {
    font-size: 40px;
    display: none;
  }
}

@include breakpoint($bp-xxl) {
  // xtra-xtra-large
  head {
    font-size: 50px;
    display: none;
  }
}

@include breakpoint($bp-massive) {
  //// Massive - adjust the min-width in media query as you wish
  head {
    font-size: 60px;
    display: none;
  }
}


